body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.btn {
    border: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: 200;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding: 0 30px;
    cursor: pointer;
}

.btn.blue {
    color: #fff;
    background-color: #0097cc;
}

.btn.red {
    color: #fff;
    background-color: red;
}

.btn.transparent {
    /*color: rgba(255, 255, 255, .8);*/
    color: #fff;
    background: none;
}