.Classroom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Classroom-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 50%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    line-height: 40px;
    color: white;
}

.Classroom-mask {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.Classroom-mask .message {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: white;
}