.Classroom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Classroom-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 50%;
    font-size: 20px;
    line-height: 40px;
    color: white;
}

.Classroom-mask {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
}

.Classroom-mask .message {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: white;
}

.Classroom-video-controls {
    width: 200px;
    height: 100px;
}

.Classroom-video-controls.hidden {
    display: none;
}

.Classroom-chat {
    width: 23.5%;
    height: 500px;
    position: absolute;
    top: 40px;
    left: 5px;
    transition: left 2s;
}

.Classroom-chat.hidden {
    display: none;
}

.Classroom-chat.minimized {
    left: -23.5%;
}

.Classroom-chat .minimize-chat {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    width: 105px;
    color: rgba(37, 157, 232, .7);
    font-size: 16px;
    cursor: pointer;
    transition: right 2s ease;
}

.Classroom-chat .minimize-chat>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Classroom-chat .minimize-chat.minimized {
    right: -30.5%;
    bottom: initial;
    top: 10px;
    left: initial;
}

.Classroom-chat .minimize-chat i {
    font-size: 26px;
    margin-right: 5px;
}


/* Override default text chat styles */

.Classroom-chat .ots-messages-holder {
    padding-top: 0 !important;
}

.Classroom-chat .ots-messages-holder .ots-messages-alert {
    display: none !important;
}

.Classroom-chat .ots-message-item {
    padding: 0 0 0 30px !important;
}

.Classroom-chat .ots-message-item.ots-message-sent {
    padding: 0 30px 0 0 !important;
}

.Classroom-chat .ots-message-item.ots-message-sent .ots-item-timestamp {
    left: 0;
    text-align: left;
    padding-left: 10px;
}

.Classroom-chat .ots-message-item .ots-user-name-initial {
    height: 30px !important;
    width: 30px !important;
    right: -5px !important;
    top: -10px !important;
    font-size: 16px !important;
    background-color: rgba(37, 157, 232, .7) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Classroom-chat .ots-send-message-box,
.Classroom-chat .ots-icon-check {
    height: 40px !important;
}

.Classroom-chat .ots-send-message-box .ots-character-count {
    color: rgba(37, 157, 232, .7);
}

.Classroom-chat .ots-message-input {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    height: 100%;
    padding: 0 0 0 15px !important;
}

.Classroom-chat .ots-icon-check {
    width: 40px !important;
    height: 39px !important;
    background-size: 16px 13px !important;
    background-color: rgba(37, 157, 232, .3) !important;
    transition: background-color .5s;
    cursor: pointer;
}

.Classroom-chat .ots-icon-check:hover {
    background-color: rgba(37, 157, 232, .7) !important;
}


/* End - Override default text chat styles */