.InstructorClassList {
    width: 100%;
}

.InstructorClassList .emptyList {
    font-size: 22px;
    font-style: italic;
    color: darkgrey;
}


.InstructorClassList ul {
    list-style: none;
    font-size: 18px;
}

.InstructorClassList ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    border: 1px solid lightgrey;
    margin: 10px 0;
    padding: 10px;
}

.InstructorClassList ul li .info-container {
  text-align: left;
  width: 65%;
}

.InstructorClassList ul li .info-container .label {
    color: darkgrey;
}

.InstructorClassList ul li .action-container {
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.InstructorClassList ul li .action-container .btn {
    min-width: 65px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}


.InstructorClassList ul li .action-container .link {
    text-decoration: none;
}