.Header {
    top: 0;
    left: 0;
    height: 40px;
    padding: 0 20px;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-text {
    color: #fff;
}

.Header-logout.btn {
    border: none;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.Header-logo {
    height: 50%;
}