.Login {
  padding: 45px 0;
}

.Login-main {
  padding: 0 10%;
}

.Login-content {
  padding: 0 40px;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.Login-component-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid lightgrey;
    width: 25%;
    min-width: 225px;
    padding: 85px 0;
}

.Login-google-logo {
  width: 80px;
  height: 80px;
}

.Login-error {
    font-weight: 300;
    margin: 10px 0;
    height: 20px;
    line-height: 20px;
}

.Login-subheader {
    font-weight: 100;
    text-align: center;
}
