.StudentClassList {
    width: 70%;
    min-width: 650px;
    margin: 0 auto;
}

.StudentClassList .emptyList {
    font-size: 22px;
    font-style: italic;
    color: darkgrey;
}

.StudentClassList ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.StudentClassList ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    border: 1px solid lightgrey;
    margin: 10px 0;
    padding: 10px;
}

.StudentClassList ul li .image-container {
    width: 15%;
}

.StudentClassList ul li .image-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.StudentClassList ul li .info-container {
    width: 60%;
    text-align: left;
}

.StudentClassList ul li .info-container span {
    line-height: 1.3em;
}

.StudentClassList ul li .info-container .title {
    font-size: 1.2em;
    font-weight: 500;
}

.StudentClassList ul li .info-container .seperator {
    font-size: 1em;
    margin: 0 7px;
}

.StudentClassList ul li .info-container .instructor {
    color: grey;
}

.StudentClassList ul li .info-container .description {
    font-size: .9em;
    margin: 10px 0;
    color: grey;
}

.StudentClassList ul li .action-container {
    width: 15%;
}

.StudentClassList ul li .action-container {
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.StudentClassList ul li .action-container .btn {
    min-width: 65px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.StudentClassList ul li .action-container .link {
    text-decoration: none;
}